services:
  # 1. WEB & GATEWAY PEER
  web-peer:
    build: .
    container_name: web-peer
    networks:
      p2pnet:
        ipv4_address: 172.30.0.10
    ports:
      - "8080:8080"
      - "50000:50000/udp"
    volumes:
      - ./storage/gateway:/app/shared_videos
      - ./storage/gateway/buffer:/app/buffer  # <--- YENİ: Buffer Yolu
      - ./web:/app/web

  # 2. NODE PEER 1
  node-1:
    build: .
    container_name: node-1
    networks:
      p2pnet:
        ipv4_address: 172.30.0.11
    volumes:
      - ./storage/node1:/app/shared_videos
      - ./storage/node1/buffer:/app/buffer    # <--- YENİ: Buffer Yolu
      - ./web:/app/web

  # 3. NODE PEER 2
  node-2:
    build: .
    container_name: node-2
    networks:
      p2pnet:
        ipv4_address: 172.30.0.12
    volumes:
      - ./storage/node2:/app/shared_videos
      - ./storage/node2/buffer:/app/buffer    # <--- YENİ: Buffer Yolu
      - ./web:/app/web

networks:
  p2pnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/16