version: "3.9"

services:
  gui:
    build: .
    container_name: p2p-gui
    environment:
      - NODE_ROLE=GUI
      - NODE_IP=10.10.10.2
      - SUBNET_CIDR=10.10.10.0/28
    networks:
      p2pnet:
        ipv4_address: 10.10.10.2

  peer1:
    build: .
    container_name: p2p-peer1
    environment:
      - NODE_ROLE=PEER
      - PEER_ID=peer1
      - NODE_IP=10.10.10.3
      - SUBNET_CIDR=10.10.10.0/28
    networks:
      p2pnet:
        ipv4_address: 10.10.10.3

  peer2:
    build: .
    container_name: p2p-peer2
    environment:
      - NODE_ROLE=PEER
      - PEER_ID=peer2
      - NODE_IP=10.10.10.4
      - SUBNET_CIDR=10.10.10.0/28
    networks:
      p2pnet:
        ipv4_address: 10.10.10.4

  # ... peer3..peer12 aynı mantık:
  # peer12 -> 10.10.10.14

networks:
  p2pnet:
    driver: bridge
    ipam:
      config:
        - subnet:
